body	
	background: $background 
	color: $textcolor
	padding: $border

figure
	padding-right: 23em
	position: relative
	
figcaption
    position: absolute
    top: 57px
    right: 31.5em
    display: block
    transform: translateX(100%) rotate(90deg)
		
.startside 
	margin-bottom: 48px

.startside, .bilde1, .bilde2, .bilde3, .bilde4, .bilde5, .bilde6
	opacity: 0.5
	transition: 0.2s all


.startside:hover, .bilde1:hover, .bilde2:hover, .bilde3:hover, .bilde4:hover, .bilde5:hover, .bilde6:hover
	opacity: 1

#question
	font-weight: bold
	text-align: left
	padding: 30px
	margin-right: 400px
	line-height: 1.7em
    

#answer p
	text-align: left
    min-width: 450px
    max-width: 650px
    padding: 5px
    margin: 0px
    overflow: hidden
    font-size: 15pt
	line-height: 1.5

#answer
	columns: 3
	margin-right: 400px

p
	padding-top: 9px 
	margin-left: 40px 

.paragraf
    width: 300px
    height: 200px
    text-align: justify
    margin: 0 auto
    line-height: 2em

.item1, .item2
    display: grid
    height: 100vh
    gap: 3rem
    grid-template-columns: 2fr 2fr
    grid-template-rows: 4fr 2fr
    place-items: center

.bilde1, .bilde6
    width: 60%


.bilde6
    margin: 100px
