body
	color: black
	background: blue

figure
	padding-right: 2em
	position: relative
	background: green

	figcaption
		position: absolute
		top: 0
		right: 0.5em
		display: block
		background: red
		transform: translateX(100%) rotate(90deg)
		transform-origin: 0 0

h1, h2, h3
	font-size: 83px
	color: #ADB5BD