.nedretitelen
    h3
        color: $nedretextcolor
        text-align: justify
        text-decoration: underline
        position: fixed


h1, h2, h3
    font-size: 83px
    color: $textcolor


h1
    text-align: left
    word-spacing: 10em


h2
    text-align: center

h3
    cursor: pointer
    right: 40px
    position: absolute
    top: 70px


h3:hover
    color: $linkcolor